on:
  # push:
  #   branches:
  #     - develop
  #     - release/**
  pull_request:
    types: [ready_for_review]
  workflow_dispatch:
    # empty as it is used only to manually trigger the workflow

env:
  NODE_VERSION: "16"

concurrency:
  group: merge-checks-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: Merge Checks
jobs:
  b2c-e2e:
    name: B2C e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: ./run.sh 45 0
  b2b-e2e:
    name: B2B e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Run Script
        run: ./run.sh 45 0
  ssr-e2e:
    name: SSR e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: ./run.sh 5 0
      - name: Handle Failure
        if: { { failure() } }
        run: gh pr ready --undo ${{github.event.number}} -R plabadie/testactions
  lighthouse:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: ./run.sh 45 0
