on:
  schedule:
    - cron: '* * * * *'
  workflow_dispatch:
    inputs:
      branch_to_sync:
        description: Branch to sync to the private repository
        default: develop
        required: true

name: Sync a branch to private repo

env:
  DEFAULT_BRANCH_TO_SYNC: 'develop'

jobs:
  sync_public_repo_to_private:
    name: Force sync a branch to the private repository with current git history
    runs-on: ubuntu-latest
    steps:
      - name: Include remaining pipeline files to the private remote's branch
        run: |
        echo "Event name: ${{ github.event_name }}"
        echo "github.event.inputs.branch_to_sync: ${{ github.event.inputs.branch_to_sync }}"
        echo "env.DEFAULT_BRANCH_TO_SYNC: ${{ env.DEFAULT_BRANCH_TO_SYNC }}"
        echo "Using: ${{ github.event.inputs.branch_to_sync || env.DEFAULT_BRANCH_TO_SYNC }}"
        echo "Default branch: ${{ github.event.repository.default_branch }}"
