on:
  # push:
  #   branches:
  #     - develop
  #     - release/**
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
    # empty as it is used only to manually trigger the workflow

env:
  NODE_VERSION: "16"
  GH_TOKEN: ${{ github.token }}

name: Change new PRs to draft
jobs:
  change-to-draft:
    name: Set new PR to draft.
    runs-on: ubuntu-latest
    steps:
      - name: Run Script
        run: |
          gh pr view -R plabadie/testactions
          gh pr ready --undo ${{github.event.number}} -R plabadie/testactions
