on:
  # push:
  #   branches:
  #     - develop
  #     - release/**
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
    # empty as it is used only to manually trigger the workflow

env:
  NODE_VERSION: "16"

concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: Change new PRs to draft
jobs:
  ci-job01:
    name: CI Job 01
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: |
          echo "Pull request ${{github.event.number}}"
          gh pr view ${{github.event.number}}
