on:
  # push:
  #   branches:
  #     - develop
  #     - release/**
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
    # empty as it is used only to manually trigger the workflow

env:
  NODE_VERSION: "16"

concurrency:
  group: continuous-ntegration-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: CI Push
jobs:
  ci-job01:
    name: CI - Job 01
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: ./run.sh 45 0
  ci-job02:
    name: CI - Job 02
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: ./run.sh 45 0
  ci-job03:
    name: CI - Job 03
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: ./run.sh 5 0
  ci-job04:
    name: CI - Job 04
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Script
        run: ./run.sh 45 0
